# Compiled and binary files
*.o
*.obj
*.exe
*.dll
*.so
*.a
*.out

# Dependencies
node_modules/
venv/
.venv/
__pycache__/
dist/
build/
target/
.gradle/

# Editors
.vscode/
.idea/
*.swp
*.swo

# System
.DS_Store
Thumbs.db
.env
.env.local
*.env.*

# Logs and temp files
*.log
*.tmp

# Coverage
coverage/
htmlcov/
.coverage

# MyPy
.mypy_cache/

# PyTest
.pytest_cache/