```
# Build artifacts
build/
CMakeCache.txt
*.cmake
Makefile
cmake_install.cmake
CMakeFiles/
CMakeRuleHashes.txt
CMakeDirectoryInformation.cmake
TargetDirectories.txt
DependInfo.cmake
Labels.json
Labels.txt
build.make
*.build
*.dir
*.stamp
*.txt
tmp/
```